CONFIG_CXD56_SPI=y
CONFIG_CXD56_SPI5=y
CONFIG_CXD56_I2C=y
CONFIG_CXD56_I2C0=y
# CONFIG_CXD56_I2C0_SCUSEQ is not set
CONFIG_SYSTEM_GPIO=y
CONFIG_NSH_LINELEN=128
CONFIG_SYSTEM_ZMODEM=y
CONFIG_SYSTEM_ZMODEM_RCVBUFSIZE=1024
CONFIG_SYSTEM_ZMODEM_PKTBUFSIZE=1024
CONFIG_SYSTEM_ZMODEM_MOUNTPOINT="/mnt/spif"
# CONFIG_EXAMPLES_GACRUX_GPIO is not set
CONFIG_EXAMPLES_GHIFP_STACKSIZE=4096
